<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @security_group.data %>
</p>

<%= link_to 'Edit', edit_security_group_path(@security_group) %> |
<%= link_to 'Back', security_groups_path %>
