<div class="panel-heading">
  <h4>Dashboard</h4>
</div>
<div class = "panel-body">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-md-3">
        <div class="well">
          <h4 class="text-success dashboard">
            <span class="label label-success pull-right">+ 24%</span>
            <span class="label label-warning pull-right">+ 24%</span>
            <span class="label label-danger pull-right">+ 24%</span>
            <img src="assets/adviser_icon_security.png">
            <h4 class="text-center adv-label">Security</h4>
          </h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h4 class="text-success dashboard">
            <span class="label label-success pull-right">+ 24%</span>
            <span class="label label-warning pull-right">+ 24%</span>
            <span class="label label-danger pull-right">+ 24%</span>
            <img src="assets/adviser_icon_cost.png">
            <h4 class="text-center adv-label">Cost Reduction</h4>
          </h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h4 class="text-success dashboard">
            <span class="label label-success pull-right">+ 24%</span>
            <span class="label label-warning pull-right">+ 24%</span>
            <span class="label label-danger pull-right">+ 24%</span>
            <img src="assets/adviser_icon_flaws.png">
            <h4 class="text-center adv-label">Flaws Detection</h4>
          </h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="well">
          <h4 class="text-success dashboard">
            <span class="label label-success pull-right">+ 24%</span>
            <span class="label label-warning pull-right">+ 24%</span>
            <span class="label label-danger pull-right">+ 24%</span>
            <img src="assets/adviser_icon_proficiency.png">
            <h4 class="text-center adv-label">Proficiency</h4>
          </h4>
        </div>
      </div>
    </div><!--/row-->    
  </div><!--/col-12-->
</div>